@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  /* COLOR *
  /* Primary */
  --my-blue: hsl(223, 87%, 63%);

  /* Secondary */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  /* Neutral */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);

  /* ? FONTS */
  --ff-libre-franklin: "Libre Franklin", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-libre-franklin);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  margin-bottom: 25px;
}

.section-1 img {
  width: 15%;
  max-width: 80px;
  margin: 25px 0;
  margin-top: 75px;
}

.section-1 h1 {
  width: 100%;
  font-size: min(6vw, 4rem);
  color: var(--gray);
  font-weight: lighter;
}

.section-1 p {
  font-size: min(3.5vw, 1.6rem);
}

.section-1 span {
  color: black;
  font-weight: 700;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 10px;
  width: 75%;
  height: 75px;
  max-width: 450px;
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
}

.section-2 input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid var(--pale-blue);
  outline-color: var(--pale-blue);
}

.section-2 input::placeholder {
  font-size: 1.2rem;
  color: var(--pale-blue);
}

.section-2 p {
  position: absolute;
  top: 45px;
  left: 75px;
  font-style: italic;
  color: var(--light-red);
  visibility: hidden;
}
.section-2 button {
  width: 100%;
  color: white;
  background-color: var(--my-blue);
  border: none;
  border-radius: 20px;
  padding: 10px 0;
  cursor: pointer;
}

.section-3 img {
  width: 85vw;
  max-width: 450px;
  margin-bottom: 70px;
}

footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 30px 0;
}

footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

footer img {
  height: 30px;
  color: var(--my-blue);
}

.custom-alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.custom-alert-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-alert-content p {
  font-size: 2rem;
  margin-bottom: 25px;
}

.custom-alert button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 900px) {
  .section-2 {
    flex-direction: row;
  }

  .section-2 input {
    width: 68%;
  }

  .section-2 button {
    width: 30%;
  }

  .section-3 img {
    margin-bottom: 40px;
  }

  .section-2 p {
    left: 15px;
  }
}
